.contact__wrapper {
  width: 100%;
  .hero__section {
    width: 100%;
    height: 192px;

    background-image: url("./../../assets/images/contact-us/contact-us-hero-sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;

    h1 {
      padding: 20px;
      font-family: "Open Sauce Sans", sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: capitalize;
      color: #ffffff;
      padding-top: 130px;
    }
  }
}

.contact__us__content {
  padding: 48px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-item {
  width: 100%;
}

@media (min-width: 768px) {
  .contact__wrapper {
    .hero__section {
      height: 457px;
      background-image: url("./../../assets/images/contact-us/contact-us-hero-lg.png");

      h1 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 96px;
        font-size: 56px;
        padding-top: 250px;
      }
    }
  }

  .contact__us__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 96px;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}
