.hero__section {
  width: 100%;
}

.hero__container {
  width: 100%;
}

.video__wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.video__iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.video__iframe[src] {
  opacity: 1;
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  cursor: default;
}