.indoor__cricket__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .content__wrapper {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .image__wrapper {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  .indoor__cricket__container {
    gap: 64px;
  }

  .content__section {
    gap: 64px;
    .content__wrapper {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding-inline: 96px;

      flex-direction: row;

      .image__wrapper {
        border-radius: 40px;
        width: 100%;
        height: auto;
      }
    }

    .content__wrapper:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}
