.indoor__cricket__dubai__container {
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  h2 {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #1e1e1e;
  }
}

.indoor__cricket__dubai__content {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 18px;

    p {
      font-family: "Open Sauce Sans", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;
      color: #1e1e1e;
    }
  }

  .image__wrapper {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .indoor__cricket__dubai__container {
    width: 100%;
    max-width: 1440px;
    padding-inline: 96px;
    margin: 0 auto;

    h2 {
      width: 50%;
      font-size: 56px;
    }
  }

  .indoor__cricket__dubai__content {
    position: relative;
    height: 522px;

    display: flex;
    .content {
      width: 50%;
      padding-inline: 20px;
      align-self: flex-end;
    }

    .image__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      overflow: hidden;
      clip-path: path(
        "M 0, 0 L 584, 0 A 40,40 0,0,1 624, 40 L 624, 131 A 40,40 0,0,0 664, 171 L 1208, 171 A 40,40 0,0,1 1248, 201 L 1248, 522 L 0, 1248 Z"
      );
    }
  }
}
