.sport__card__container {
  width: 90%;
  height: 520px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;

  position: relative;

  .sport__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .sport__details {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .sport__name {
      font-family: "Open Sauce Sans", sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: center;
      color: #ffffff;
    }
  }
}

@media (min-width: 768px) {
  .sport__card__container {
    width: 10.6%;
    border-radius: 40px;
    margin-inline: 10px;
    height: 594px;

    .sport__details {
      bottom: 52px;

      .sport__name {
        font-size: 36px;
      }
    }
  }

  .sport__card__container:hover {
    .sport__image {
      scale: 1.1;
    }
  }
}
