.location__section {
  width: 100%;
}

.location__wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding: 0 20px;

  .address {
    width: 100%;
    background-color: #f98613;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      font-family: "Open Sauce Sans";
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;
    }

    .contact__details {
      display: flex;
      gap: 20px;
      margin-bottom: 16px;

      img {
        width: 28px;
        height: 28px;
      }

      span {
        font-family: "Open Sauce Sans";
        font-weight: 600;
        font-style: SemiBold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #000000;
      }
    }
  }

  .map {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    border: 1px solid #000;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .location__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
    flex-direction: row;
    align-items: stretch;

    .address {
      width: 50%;
      border-radius: 40px;
      padding: 50px 45px;
      gap: 24px;

      h3 {
        font-size: 40px;
      }

      .contact__details {
        margin-bottom: 16px;

        img {
          width: 40px;
          height: 35px;
        }

        span {
          font-size: 24px;
          line-height: 36px;
        }
      }
    }

    .map {
      width: 50%;
      height: auto;
      border-radius: 40px;
    }
  }
}
