.cta__section {
  width: 100%;
  padding-block: 60px;
  background-image: url("./../../../assets/images/homepage/cta-bg-sm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 24px;

  h2 {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .cta__section {
    padding-block: 80px;
    background-image: url("./../../../assets/images/homepage//cta-bg-lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cta__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
    gap: 28px;

    h2 {
      font-size: 40px;
    }
  }
}
