.orange__button {
  display: block;
  padding: 8px 22px;
  background-color: #f98613;
  border: 1px solid #ffffff;
  border-radius: 99px;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e6750f;
  }

  span {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
  }
}

@media (min-width: 768px) {
  .orange__button {
    padding: 12px 22px;
    border-radius: 24px;

    span {
      font-size: 24px;
    }
  }
}
