.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  .logo__wrapper {
    padding: 20px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #ffffff66;

    img {
      width: 160px;
    }
  }

  .footer__links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #ffffff66;

    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    h4 {
      color: #f98613;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .address {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #ffffff66;

    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    h4 {
      color: #f98613;
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    span {
      color: white;
      text-decoration: none;
    }

    img {
      width: 20px;
    }
  }
}

.footer__bottom {
  padding: 20px;
  font-family: "Open Sauce Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 40px;
    border-bottom: 1px solid #ffffff66;

    .logo__wrapper {
      border-bottom: none;
      img {
        width: 221px;
      }
    }

    .footer__links {
      padding: 20px;
      gap: 24px;
      border-bottom: none;

      font-size: 16px;
    }

    .address {
      padding: 20px;
      justify-content: center;
      gap: 20px;
      border-bottom: none;

      font-size: 16px;

      div {
        gap: 8px;
      }

      img {
        width: 20px;
      }
    }
  }

  .footer__bottom {
    padding: 40px;
    font-size: 16px;
  }
}
