.info__section {
  width: 100%;
}

.info__section__wrapper {
  width: 100%;
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  h2 {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #1e1e1e;
  }
}

.info__section__container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .info__image {
    width: 100%;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;

    & > img {
      width: 100%;
      height: 250px;
      border-radius: 20px;
      object-fit: cover;
    }

    p {
      font-family: "Open Sauce Sans", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;
      color: #1e1e1e;
    }
  }
}

@media (min-width: 768px) {
  .info__section__wrapper {
    padding-inline: 96px;
    max-width: 1440px;
    margin: 0 auto;

    gap: 40px;

    h2 {
      font-size: 56px;
      width: 70%;
    }
  }

  .info__section__container {
    flex-direction: row;
    align-items: stretch;
    gap: 20px;

    .info__image {
      border-radius: 40px;
      height: auto;

      img {
        height: 100%;
      }
    }

    .info__content {
      gap: 20px;

      & > img {
        width: 100%;
        height: 282px;
        border-radius: 40px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}
