.light__button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(
    93.74deg,
    rgba(255, 255, 255, 0.6) 7.58%,
    rgba(255, 255, 255, 0.3) 95.55%
  );
  padding: 5px 5px 5px 24px;
  border-radius: 100px;
  text-decoration: none;
  border: 1px solid #ffffff;

  span {
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4658d6;
    display: grid;
    place-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: 768px) {
  .light__button {
    span {
      font-size: 24px;
    }

    div {
      width: 48px;
      height: 48px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
