.gallery__section {
  width: 100%;
}

.gallery__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  h2 {
    padding-inline: 20px;
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
  }
}

.gallery__image__wrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
  scrollbar-width: none;

  img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .gallery__wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 0 96px;

    h2 {
      font-size: 56px;
    }
  }

  .gallery__image__wrapper {
    img {
      width: 600px;
      height: 390px;
      border-radius: 40px;
    }
  }
}
