.gallery__section {
  width: 100%;
}

.gallery__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  h2 {
    padding-inline: 20px;
    font-family: "Open Sauce Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
  }
}

.gallery__container {
  .nav__left,
  .nav__right {
    display: none;
  }
}

.gallery__image__wrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
  scrollbar-width: none;

  img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .gallery__wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 0 96px;

    h2 {
      font-size: 56px;
    }
  }

  .gallery__container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .nav__left,
    .nav__right {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background: #f98613;
      border: none;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 100;
      cursor: pointer;
    }

    .nav__left {
      left: 0;
    }

    .nav__right {
      right: 0;
    }
  }

  .gallery__image__wrapper {
    width: auto;
    overflow: visible;
    padding-inline: 0px;
    img {
      flex-shrink: 0;
      width: 614px;
      height: 390px;
      border-radius: 40px;
    }
  }
}
